<div class="container box d-flex flex-column align-items-center">
  <h1> Result </h1>
  <p> <strong> <%= @result[:message]%> </strong> your score is <%= @result[:score] %> </p>
  <%= link_to "PLAY AGAIN!", new_path %>
</div>

